:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Links */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

/* Headings */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Buttons (non-MUI only) */
button {
  font-family: inherit;
  cursor: pointer;
}

/* Light mode overrides */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}
